DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
PORT=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_MERCHANT_ID=
ALLOWED_ORIGINS='http://localhost:3000,http://localhost:3001'
JWT_SECRET=
RATE_LIMIT_WINDOW_MS=90000 # 90000 * 6000 = 15 (menit)
RATE_LIMIT_MAX_REQUESTS=100 # request per windowMs (RATE_LIMIT_WINDOW_MS)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_PASS=
SMTP_USER=
NODE_ENV=development