# server configuration
PORT=1234
# BASE_URL=http://localhost:1234
JWT_SECRET=rahasia
CLIENT_URL=http://localhost:3000, http://localhost:3010
NODE_ENV=development
SERVICE_NAME=service-1
COOKIES_DOMAIN=localhost

# Database Confiuration
DATABASE_URL="postgresql://postgres:121203@localhost:5432/boss_db?schema=public"

# Elastic Configuration
ELASTIC_NODE=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=

# Rate Limit configuration
RATE_LIMIT_WINDOW_MS=90000
RATE_LIMIT_MAX_REQUESTS=150

# Midtrans Configuration
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=

# Redis Configuration
REDIS_URL=redis://localhost:6379

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=


# WhatsApp Configuration (using a placeholder service)
WHATSAPP_API_URL=http://tets.com
WHATSAPP_API_TOKEN=123wr0w980934
WHATSAPP_ENABLED=true
# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:1234/api/v1/auth/google/callback