# server configuration
BACKEND_API_URL=http://localhost:1234/api/v1
RABBITMQ_URL=amqp://localhost
NODE_ENV=development

# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# SMPT Configuration
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Midtrans Configuration
MIDTRANS_SERVER_KEY=SB-Mid-server-*************
MIDTRANS_CLIENT_KEY=SB-Mid-client-*************
MIDTRANS_IS_PRODUCTION=false

# Xendit Configuration
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=
XENDIT_IS_PRODUCTION=false
