NEXT_PUBLIC_API_URL=http://localhost:1234
NEXT_PUBLIC_API_PREFIX=/api/v1
SERVER_API_URL=http://localhost:1234/api/v1
NODE_ENV=development
DASHBOARD_LOGIN_URL=http://localhost:3002/login
DASHBOARD_REGISTER_URL=http://localhost:3002/register

NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
# Socket.IO Options
NEXT_PUBLIC_SOCKET_RECONNECTION=true
NEXT_PUBLIC_SOCKET_RECONNECTION_ATTEMPTS=5
NEXT_PUBLIC_SOCKET_RECONNECTION_DELAY=1000
NEXT_PUBLIC_SOCKET_TIMEOUT=20000

# untuk url gambar
NEXT_PUBLIC_REMOTE_PATTERNS="http://localhost:1234/**, https://images.unsplash.com/**, https://png.pngtree.com/**, https://example.com/**"

NEXT_PUBLIC_VAPID_KEY=

